@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Roboto+Condensed&family=Ubuntu:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kepala {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
  justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  max-height: 80px;

  background-color: rgba(203, 235, 243, 0.285);
}
.nama {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 30px;
}

.navbar_k {
  display: flex;
}
.navbar_kanan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar_kanan a {
  color: black;
}
.kotak {
  height: 40px;
  padding: 0px 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(142, 157, 196, 0.767);
  border-radius: 10px;
  border: none;
}

.tes1 div:hover {
  background-color: white;
  color: rgba(28, 78, 204, 0.767);
}

/* ------ Navbar End ---------------*/

.body {
  display: flex;
  padding: 50px 10px;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(198, 220, 219, 0.645);
  justify-content: center;
}

.gambar1 img {
  width: 500px;
  border-radius: 10px;
}

.text {
  text-align: center;
  padding: 50px 20px;
  max-width: 600px;
}
.text1 {
  font-family: "Ubuntu", sans-serif;
}
.text2 {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(218, 87, 21);
  padding: 20px 0px;
}
.text3 {
  font-family: "Roboto Condensed", sans-serif;
}

/* -------- About ------------- */
.aboutme {
  display: flex;
  /* max-height: 450px; */
  background-color: rgb(226, 244, 238);
  /* height: 450px; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0px;
  /* overflow: auto; */
}
.isiAbout {
  display: flex;
  flex-flow: wrap;
  width: 600px;

  padding: 20px 10px;
  font-family: "Roboto Condensed", sans-serif;
  justify-content: center;
}
.about {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  font-size: 30px;
}

.text-about {
  font-family: "Ubuntu", sans-serif;
}

.gambarAbout img {
  width: 500px;
  padding: 20px 20px;
  border-radius: 30px;
  box-shadow: 50px;
}

.play {
  padding: 12px 20px;
  border: 0px solid black;
  background-color: rgba(34, 158, 152, 0.645);
  height: 42px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.play:hover {
  background-color: bisque;
}

/* ---------- Medsos --------- */

.medsos {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.bungkusmedsos {
  background-color: rgba(178, 234, 215, 0.63);
}
.ig {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.fb {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.email {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.emyt {
  display: flex;

  justify-content: space-evenly;

  padding: 80px 100px;
  font-size: 50px;
  gap: 80px;
}

.youtube {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.igtw {
  display: flex;

  justify-content: space-evenly;

  padding: 80px 100px;
  font-size: 50px;
  gap: 40px;
}

.ig a {
  color: black;
}
/* -----------end--------------- */

.footer {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
}
